@use 'base';
@use 'unitilies' as u;

.wrap{
    width: 100vw;
    height: 100vh;
    padding: 10px;
    background-color: u.$very-dark-blue;
    display: flex;
    justify-content: center;
    align-items: center;

    .container{
        max-width: 1100px;
        

        .card{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: wrap;
            justify-content: center;
            position: relative;
            
            

            .article{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 10px 4rem;
                flex: 1;
                background-color: u.$dark-desaturated-blue;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                > *{
                    margin-bottom: 1rem;
                }
                h1{
                color: u.$white;
                
                span{
                    color: u.$soft-violet;
                }
                }

                > p{
                    color: u.$slightly-transparent-white-main-paragraph;
                }

                .numbers{
                    max-width: 90%;
                    display: flex;
                    justify-content: space-between;
                    margin-top: 2rem;

                    .bold{
                        color: u.$slightly-transparent-white-main-paragraph;
                        font-weight: bold;
                        font-size: 1.5rem;
                    }

                    .stat--headings{
                        font-size: 14px;
                        color: u.$slightly-transparent-white-heading;
                        margin-top: 5px;
                    }
                }
            }
            
            .img{
                position: relative;

                img{
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                }
                &::after{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: hsla(284, 76%, 30%, 0.736);
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                    
                }
            }

        }
    }
}


@include u.stats-preview-card-component;